In [0]:
emp_schema = ["Employee_ID", "Name", "DOJ", "Dept_Id", "Gender", "salary"]

emp_data = [(10, "raj Kumar", "1999-01-01","100", "M", 2000),
            (20, "Ravi Kumar", "2002-02-02","200", "M", 3000),
            (30, "Arjun Kumar", "2004-03-03","400", "M", 25000),
            (40, "Rani Kumari", "2006-04-04","100", "F", 20000),
            (50, "Rekha", "2008-05-18","300", None , 9000),
            (60, "raj Kumar B", None, None, None, 2000),
            (None, None, None,None, None, None)
            ]

df_emp = spark.createDataFrame(data= emp_data, schema= emp_schema)

display(df_emp)

Employee_ID,Name,DOJ,Dept_Id,Gender,salary
10,raj Kumar,1999-01-01,100,M,2000
20,Ravi Kumar,2002-02-02,200,M,3000
30,Arjun Kumar,2004-03-03,400,M,25000
40,Rani Kumari,2006-04-04,100,F,20000
50,Rekha,2008-05-18,300,null,9000
60,raj Kumar B,null,null,null,2000
null,null,null,null,null,null

In [0]:
from pyspark.sql.functions import col, count, when

result = df_emp.select([count(when(col(c).isNull(), c)).alias(c) for c in df_emp.columns])

display(result)

Employee_ID,Name,DOJ,Dept_Id,Gender,salary
1,1,2,2,3,1

In [0]:
from pyspark.sql.functions import col, count, when

result_nn = df_emp.select([count(when(col(c).isNotNull(), c)).alias(c) for c in df_emp.columns])

display(result_nn)

Employee_ID,Name,DOJ,Dept_Id,Gender,salary
6,6,5,5,4,6