In [0]:
from pyspark.sql.types import StructType, StructField, IntegerType, StringType

In [0]:
# same like creating table in SQL
schema_custom = StructType([StructField('Employee_id', IntegerType(), True),
                            StructField('Emp_First_name', StringType(), True),
                            StructField('Emp_Last_Same', StringType(), True),
                            StructField('Experience', IntegerType(), True),
                            StructField('Salary', IntegerType(), True),
                           ])

In [0]:
# same like loading data to table from file : recommended
df_c = spark.read.format("csv").schema(schema_custom).options(header= True, sep= ",").load("/FileStore/tables/emp_details.csv")

display(df_c)

Employee_id,Emp_First_name,Emp_Last_Same,Experience,Salary
10,Monali,S.,9,60000
20,Harshad,K,2,25000
30,ABC,XYZ,3,30000
40,AAA,BBB,5,40000
50,XXX,XYZ,8,50000
60,abc,null,2,null
null,F_name,L_Name,null,8000
null,null,null,null,null
90,klmo,xyz,7,70000

In [0]:
df_c.printSchema()

root
 |-- Employee_id: integer (nullable = true)
 |-- Emp_First_name: string (nullable = true)
 |-- Emp_Last_Same: string (nullable = true)
 |-- Experience: integer (nullable = true)
 |-- Salary: integer (nullable = true)

In [0]:
# alternate approach to create custom schema
schema_alternate = "Employee_id INTEGER, Emp_First_name STRING, Emp_Last_Same STRING, Experience INTEGER, Salary INTEGER"

In [0]:
dbutils.fs.ls("/FileStore/tables")

Out[13]: [FileInfo(path='dbfs:/FileStore/tables/emp_details-1.csv', name='emp_details-1.csv', size=214, modificationTime=1658317916000),
 FileInfo(path='dbfs:/FileStore/tables/emp_details.csv', name='emp_details.csv', size=225, modificationTime=1658316207000)]

In [0]:
df_a = spark.read.format("csv").schema(schema_alternate).options(header=True, sep=",").load("/FileStore/tables/")

display(df_a)

Employee_id,Emp_First_name,Emp_Last_Same,Experience,Salary
10,Monali,S.,9,60000
20,Harshad,K,2,25000
30,ABC,XYZ,3,30000
40,AAA,BBB,5,40000
50,XXX,XYZ,8,50000
60,abc,null,2,null
null,F_name,L_Name,null,8000
null,null,null,null,null
90,klmo,xyz,7,70000
10,M,S.,9,60000
20,H,K,2,25000
30,ABC,XYZ,3,30000
40,AAA,BBB,5,40000
50,XXX,XYZ,8,50000
60,abc,null,2,null
null,F_name,L_Name,null,8000
null,null,null,null,null
90,klmo,xyz,7,70000

In [0]:
df_a.printSchema()

root
 |-- Employee_id: integer (nullable = true)
 |-- Emp_First_name: string (nullable = true)
 |-- Emp_Last_Same: string (nullable = true)
 |-- Experience: integer (nullable = true)
 |-- Salary: integer (nullable = true)