In [0]:
emp_schema = ["Employee_ID", "Name", "DOJ", "Dept_Id", "Gender", "salary"]

emp_data = [(10, "raj Kumar", "1999-01-01","100", "M", 2000),
            (20, "Ravi Kumar", "2002-02-02","200", "M", 3000),
            (30, "Arjun Kumar", "2004-03-03","400", "M", 25000),
            (40, "Rani Kumari", "2006-04-04","100", "F", 20000),
            (50, "Rekha", "2008-05-18","300", None , 9000),
            (60, "raj Kumar B", None,None, None, 2000)
            ]

df_emp = spark.createDataFrame(data= emp_data, schema= emp_schema)

display(df_emp)

Employee_ID,Name,DOJ,Dept_Id,Gender,salary
10,raj Kumar,1999-01-01,100,M,2000
20,Ravi Kumar,2002-02-02,200,M,3000
30,Arjun Kumar,2004-03-03,400,M,25000
40,Rani Kumari,2006-04-04,100,F,20000
50,Rekha,2008-05-18,300,null,9000
60,raj Kumar B,null,null,null,2000

In [0]:
from pyspark.sql.functions import split

In [0]:
df_emp_s1 = df_emp.withColumn('First name', split(df_emp.Name, ' ').getItem(0)) \
                  .withColumn('Last Name', split(df_emp.Name, ' ').getItem(1))

display(df_emp_s1)

Employee_ID,Name,DOJ,Dept_Id,Gender,salary,First name,Last Name
10,raj Kumar,1999-01-01,100,M,2000,raj,Kumar
20,Ravi Kumar,2002-02-02,200,M,3000,Ravi,Kumar
30,Arjun Kumar,2004-03-03,400,M,25000,Arjun,Kumar
40,Rani Kumari,2006-04-04,100,F,20000,Rani,Kumari
50,Rekha,2008-05-18,300,null,9000,Rekha,null
60,raj Kumar B,null,null,null,2000,raj,Kumar

In [0]:
import pyspark
from pyspark.sql.functions import split

#split_name = pyspark.sql.functions.split(df_emp.Name,' ')

split_name = split(df_emp.Name,' ')

df_emp_s2 = df_emp.withColumn('First Name', split_name.getItem(0))\
                  .withColumn('Last name', split_name.getItem(1))

display(df_emp_s2)

Employee_ID,Name,DOJ,Dept_Id,Gender,salary,First Name,Last name
10,raj Kumar,1999-01-01,100,M,2000,raj,Kumar
20,Ravi Kumar,2002-02-02,200,M,3000,Ravi,Kumar
30,Arjun Kumar,2004-03-03,400,M,25000,Arjun,Kumar
40,Rani Kumari,2006-04-04,100,F,20000,Rani,Kumari
50,Rekha,2008-05-18,300,null,9000,Rekha,null
60,raj Kumar B,null,null,null,2000,raj,Kumar

In [0]:
from pyspark.sql.functions import split

split_doj = split(df_emp.DOJ, '-')

df_emp_s3= df_emp.select('Employee_ID', 'Name', 'Dept_Id','Gender', 'salary','DOJ',
                        split_doj.getItem(0).alias('Joininig Year'),
                        split_doj.getItem(1).alias('Joininig Month'),
                        split_doj.getItem(2).alias('Joininig Day'))

display(df_emp_s3)

Employee_ID,Name,Dept_Id,Gender,salary,DOJ,Joininig Year,Joininig Month,Joininig Day
10,raj Kumar,100,M,2000,1999-01-01,1999,01,01
20,Ravi Kumar,200,M,3000,2002-02-02,2002,02,02
30,Arjun Kumar,400,M,25000,2004-03-03,2004,03,03
40,Rani Kumari,100,F,20000,2006-04-04,2006,04,04
50,Rekha,300,null,9000,2008-05-18,2008,05,18
60,raj Kumar B,null,null,2000,null,null,null,null

In [0]:
df_emp_s4 = df_emp.withColumn('First Name', split(df_emp.Name, ' ').getItem(0))\
                  .withColumn('Last name', split(df_emp.Name, ' ').getItem(1))\
                  .withColumn('Joining Year', split(df_emp.DOJ, '-').getItem(0)) \
                  .withColumn('Joining Month', split(df_emp.DOJ, '-').getItem(1)) \
                  .withColumn('Joining Day', split(df_emp.DOJ, '-').getItem(2))

display(df_emp_s4)

Employee_ID,Name,DOJ,Dept_Id,Gender,salary,First Name,Last name,Joining Year,Joining Month,Joining Day
10,raj Kumar,1999-01-01,100,M,2000,raj,Kumar,1999,01,01
20,Ravi Kumar,2002-02-02,200,M,3000,Ravi,Kumar,2002,02,02
30,Arjun Kumar,2004-03-03,400,M,25000,Arjun,Kumar,2004,03,03
40,Rani Kumari,2006-04-04,100,F,20000,Rani,Kumari,2006,04,04
50,Rekha,2008-05-18,300,null,9000,Rekha,null,2008,05,18
60,raj Kumar B,null,null,null,2000,raj,Kumar,null,null,null

In [0]:
df_emp_s5 = df_emp.withColumn('First Name', split(df_emp.Name, ' ').getItem(0))\
                  .withColumn('Last name', split(df_emp.Name, ' ').getItem(1))\
                  .withColumn('Joining Year', split(df_emp.DOJ, '-').getItem(0)) \
                  .withColumn('Joining Month', split(df_emp.DOJ, '-').getItem(1)) \
                  .withColumn('Joining Day', split(df_emp.DOJ, '-').getItem(2)) \
                  .drop(df_emp.Name) \
                  .drop(df_emp.DOJ)

display(df_emp_s5)

Employee_ID,Dept_Id,Gender,salary,First Name,Last name,Joining Year,Joining Month,Joining Day
10,100,M,2000,raj,Kumar,1999,01,01
20,200,M,3000,Ravi,Kumar,2002,02,02
30,400,M,25000,Arjun,Kumar,2004,03,03
40,100,F,20000,Rani,Kumari,2006,04,04
50,300,null,9000,Rekha,null,2008,05,18
60,null,null,2000,raj,Kumar,null,null,null