In [0]:
from pyspark.sql import SparkSession

spark = SparkSession.builder.appName('MyPractise').getOrCreate()
spark

In [0]:
emp_schema = ["Employee_ID", "Name", "DOJ", "Dept_Id", "Gender", "salary"]

emp_data = [(10, "raj Kumar", "1999","100", "M", 2000),
            (20, "Ravi Kumar", "2002","200", "M", 3000),
            (30, "Arjun Kumar", "2004","400", "M", 25000),
            (40, "Rani Kumari", "2006","100", "F", 20000),
            (50, "Rekha", "2008","300", None , 9000),
            (60, "raj Kumar", "2010",None, None, 2000)
            ]

df_emp = spark.createDataFrame(data= emp_data, schema= emp_schema)

display(df_emp)

Employee_ID,Name,DOJ,Dept_Id,Gender,salary
10,raj Kumar,1999,100,M,2000
20,Ravi Kumar,2002,200,M,3000
30,Arjun Kumar,2004,400,M,25000
40,Rani Kumari,2006,100,F,20000
50,Rekha,2008,300,null,9000
60,raj Kumar,2010,null,null,2000

In [0]:
emp_schema1 = ["Employee_ID", "Name", "DOJ", "Dept_Id", "Gender", "salary"]

emp_data1 = [(70, "Stephen", "1999","100", "M", 6000),
            (80, "Martin", "2002","200", "M", 9000),
            (90, "Angelika", "2004","400", "F", 85000),
            (100, "Selina", "2006","100", None, 10000),
            (50, "Rekha", "2008","300", None , 9000),
            (60, "raj Kumar", "2010",None, None, 2000)
            ]

df_emp1 = spark.createDataFrame(data= emp_data1, schema= emp_schema1)

display(df_emp1)

Employee_ID,Name,DOJ,Dept_Id,Gender,salary
70,Stephen,1999,100,M,6000
80,Martin,2002,200,M,9000
90,Angelika,2004,400,F,85000
100,Selina,2006,100,null,10000
50,Rekha,2008,300,null,9000
60,raj Kumar,2010,null,null,2000

In [0]:
df_union = df_emp.union(df_emp1)  # contains duplicates :giving all records from both Dfs
display(df_union)

Employee_ID,Name,DOJ,Dept_Id,Gender,salary
10,raj Kumar,1999,100,M,2000
20,Ravi Kumar,2002,200,M,3000
30,Arjun Kumar,2004,400,M,25000
40,Rani Kumari,2006,100,F,20000
50,Rekha,2008,300,null,9000
60,raj Kumar,2010,null,null,2000
70,Stephen,1999,100,M,6000
80,Martin,2002,200,M,9000
90,Angelika,2004,400,F,85000
100,Selina,2006,100,null,10000
50,Rekha,2008,300,null,9000
60,raj Kumar,2010,null,null,2000

In [0]:
display(df_union.dropDuplicates())

Employee_ID,Name,DOJ,Dept_Id,Gender,salary
10,raj Kumar,1999,100,M,2000
20,Ravi Kumar,2002,200,M,3000
30,Arjun Kumar,2004,400,M,25000
40,Rani Kumari,2006,100,F,20000
50,Rekha,2008,300,null,9000
60,raj Kumar,2010,null,null,2000
70,Stephen,1999,100,M,6000
80,Martin,2002,200,M,9000
90,Angelika,2004,400,F,85000
100,Selina,2006,100,null,10000

In [0]:
df_unionall = df_emp.unionAll(df_emp1)
df_unionall.show()

+-----------+-----------+----+-------+------+------+
|Employee_ID|       Name| DOJ|Dept_Id|Gender|salary|
+-----------+-----------+----+-------+------+------+
|         10|  raj Kumar|1999|    100|     M|  2000|
|         20| Ravi Kumar|2002|    200|     M|  3000|
|         30|Arjun Kumar|2004|    400|     M| 25000|
|         40|Rani Kumari|2006|    100|     F| 20000|
|         50|      Rekha|2008|    300|  null|  9000|
|         60|  raj Kumar|2010|   null|  null|  2000|
|         70|    Stephen|1999|    100|     M|  6000|
|         80|     Martin|2002|    200|     M|  9000|
|         90|   Angelika|2004|    400|     F| 85000|
|        100|     Selina|2006|    100|  null| 10000|
|         50|      Rekha|2008|    300|  null|  9000|
|         60|  raj Kumar|2010|   null|  null|  2000|
+-----------+-----------+----+-------+------+------+

In [0]:
display(df_emp)

df_emp3 = df_emp.select(df_emp.Employee_ID, df_emp.Name, df_emp.DOJ, df_emp.Dept_Id, df_emp.Gender)
display(df_emp3)

Employee_ID,Name,DOJ,Dept_Id,Gender,salary
10,raj Kumar,1999,100,M,2000
20,Ravi Kumar,2002,200,M,3000
30,Arjun Kumar,2004,400,M,25000
40,Rani Kumari,2006,100,F,20000
50,Rekha,2008,300,null,9000
60,raj Kumar,2010,null,null,2000

Employee_ID,Name,DOJ,Dept_Id,Gender
10,raj Kumar,1999,100,M
20,Ravi Kumar,2002,200,M
30,Arjun Kumar,2004,400,M
40,Rani Kumari,2006,100,F
50,Rekha,2008,300,null
60,raj Kumar,2010,null,null

In [0]:
df_invalid = df_emp.union(df_emp3)

---------------------------------------------------------------------------
AnalysisException                         Traceback (most recent call last)
<command-917185357349590> in <module>
----> 1 df_invalid = df_emp.union(df_emp3)

/databricks/spark/python/pyspark/sql/dataframe.py in union(self, other)
   1983         Also as standard in SQL, this function resolves columns by position (not by name).
   1984         """
-> 1985         return DataFrame(self._jdf.union(other._jdf), self.sql_ctx)
   1986
   1987     @since(1.3)

/databricks/spark/python/lib/py4j-0.10.9.1-src.zip/py4j/java_gateway.py in __call__(self, *args)
   1302
   1303         answer = self.gateway_client.send_command(command)
-> 1304         return_value = get_return_value(
   1305             answer, self.gateway_client, self.target_id, self.name)
   1306

/databricks/spark/python/pyspark/sql/utils.py in deco(*a, **kw)
    121                 # Hide where the exception came from that shows a non-Pythonic
    122                 # JVM exception message.
--> 123                 raise converted from None
    124             else:
    125                 raise

AnalysisException: Union can only be performed on tables with the same number of columns, but the first table has 6 columns and the second table has 5 columns;
'Union false, false
:- LogicalRDD [Employee_ID#1172L, Name#1173, DOJ#1174, Dept_Id#1175, Gender#1176, salary#1177L], false
+- Project [Employee_ID#1403L, Name#1404, DOJ#1405, Dept_Id#1406, Gender#1407]
   +- LogicalRDD [Employee_ID#1403L, Name#1404, DOJ#1405, Dept_Id#1406, Gender#1407, salary#1408L], false